body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  height:100vh;
  background: linear-gradient(30deg, #FDC147, #EE4E7A);
}

/** ======== Global ========= **/
.hidden {
  display:none;
}

h1 {
  text-align:center;
  font-weight:normal;
  font-family: 'Pacifico', cursive;
  font-size:3em;
  color:#fff;
}

input[type="button"],input[type="submit"] {
  background-color: #fff;
  font-size:1em;
  padding:16px 32px;
  border:1px grey solid;
  margin-right:5px;
}

input[type="text"] {
  width:100%;
  padding:10px;
  margin: 10px 0;
  font-size:1em;
  box-sizing: border-box;
}

/** ======== App ========= **/
.app {
  max-width:80%;
  min-width:600px;
  padding:10px;
  margin:10px auto;
}

/** ======== RecipeBox ========= **/
.recipe_item {
  margin-bottom: 10px;
  background-color: #fff;
}

.recipe_header {
  background-color:#fff;
  padding:30px;
  height:100px;
}

.recipe_header img {
  width:100px;
  height:100px;
  border-radius:100%;
  display:block;
  background-color:#eee;
  border:1px solid #777;
  float:left;
}

.recipe_header h4 {
  color:#777;
  font-family: 'Roboto Slab', serif;
  cursor:pointer;
  font-size:1.4em;
  line-height: 50px;
  float:left;
  margin-left:20px;
}

/** ======== RecipeBox Content ========= **/
.recipe_content {
  padding:0 30px 40px;
}

.recipe_content h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  font-weight: 400;
}

.recipe_content hr {
  width:40%;
}

.recipe_content ul {
  list-style: none;
  padding:0;
  margin-bottom: 40px;
}

.recipe_content li {
  margin-bottom:5px;
  padding:20px;
  font-size: 1.2em;
  border-bottom:1px #eee solid;
}

/** ======== Recipe Form ========= **/
.recipeform {
  border:#666 1px solid;
  border-radius: 2px;
  background-color: white;
  padding:30px 30px 40px;
  position:absolute;
  width:50%;
  left:25%;
  top:10%;
}

/** ======== Control Pannel ========= **/
.control_pannel {
  margin-top: 50px;
}
.control_pannel input[type="button"] {
  background-color: #1e1d66;
  color:#fff;
  font-size:1.2em;
  padding:16px 32px;
  border-radius:4px;
  border:1px #1e1d66 solid;
  margin-right:10px;
  cursor: pointer;
}
